.container {
  /* background-image: url("/public/IMG/Backgrounds/background_1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  height: auto;
  min-height: 100vh;
  color: white;
  background-color: rgb(0 167 255);
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 2rem;
}

.table {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  position: relative;
}

.player-1 {
  position: absolute;
  top: 5%;
  left: 33%;
  width: 30%;
  height: 25%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.player-2 {
  position: absolute;
  top: 21%;
  left: 14%;
  width: 12%;
  height: 55%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.player-3 {
  position: absolute;
  top: 21%;
  left: 74%;
  width: 12%;
  height: 55%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.player-4 {
  position: absolute;
  top: 66%;
  left: 33%;
  width: 30%;
  height: 25%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.table-img {
  width: 90%;
  object-fit: cover;
}

.you {
  position: absolute;
  top: 96%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(0 0 0 / 83%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.central-div {
  position: absolute;
  top: 45%;
  left: 43%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
